---
import Layout from "../layouts/Layout.astro";
---

<Layout Title="Marcos Ochoa">
    <h1>Marcos Javier Ochoa Robles</h1>
    <span>Estudiante de ingeniería en sitemas computacionales</span>
</Layout>
